@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Regular.woff2') format('woff2'),
       url('./fonts/Orbitron-Regular.woff') format('woff'),
       url('./fonts/Orbitron-VariableFont_wght.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: cyan;
  font-family: 'Orbitron';
}

.myButton {
  position: absolute;
  left: 20%;
  top: 50%;
  background: gray;
}

.myHUD {
  position: absolute;
  left: 20%;
  top: 20%;
  color: cyan;
  font-family: 'Orbitron';
}
